@use '../abstracts/variables' as variables;

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  font-size: variables.$font-base;
}

th,
td {
  border: 1px solid variables.$border-color;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: variables.$primary-color;
  color: white;
}
