@use '../abstracts/variables' as variables;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: variables.$font-family-base;
  font-size: variables.$font-base;
  color: variables.$text-color;
  background-color: variables.$background-color;
  line-height: 1.5;
}

/* rest of styles... */
