@use '../abstract/variables';
@use '../abstract/mixins';

.btn {
  padding: variables.$padding;
  border-radius: variables.$border-radius;
  border: none;
  cursor: pointer;
  font-size: variables.$font-size-base;
  @include mixins.transition(all);
}

.btn-primary {
  background-color: variables.$primary-color;
  color: #fff;
}

.btn-secondary {
  background-color: variables.$secondary-color;
  color: #fff;
}
