@use '../abstract/variables';

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  padding: variables.$padding;
  border: 1px solid variables.$secondary-color;
  border-radius: variables.$border-radius;
  font-size: variables.$font-size-base;
}
