@use '../abstract/variables';

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th,
td {
  border: 1px solid variables.$secondary-color;
  padding: variables.$padding;
  text-align: left;
}

th {
  background-color: variables.$primary-color;
  color: #fff;
}
