@use '../abstract/variables';

body {
  font-family: Arial, sans-serif;
  font-size: variables.$font-size-base;
  color: variables.$text-color;
  background-color: variables.$background-color;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}
