@use '../abstract/variables';

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}

.bg-primary {
  background-color: variables.$primary-color;
  color: #fff;
}

.m-2 {
  margin: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}
